asgiref
certifi
charset-normalizer
click
colorama
distlib

filelock
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
pickleshare
platformdirs
python-dateutil
pytz
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
urllib3
virtualenv
Werkzeug
gunicorn
